html, body {
    height: 100%;
    margin:0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.charts {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.chart-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart {
    flex-basis: 600px;
    height: 200px;
    margin-bottom: 10px;
}

.derivative-chart {
    flex-basis: 900px;
    height: 200px;
    margin-bottom: 10px;
}

#gl-view {
    width: 100%;
    height: 100%;
}

.arrow {
    flex-shrink: 0;
    background-color: aquamarine;
    width: 160px;
    height: 160px;
    padding: 20px;
    transition: all 1s;
    border-radius: 20px;

}

.percent {
    width: 200px;
    height: 200px;
    position: relative;
}

.percent .sign {
    font-size: 200px;
    opacity: 0.05;
    position: absolute;
    line-height: 200px;
}

.percent .value {
    text-align: center;
    font-size: 150px;
    line-height: 200px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 7px;
    height: 175px;
    margin: 0 10px;
}

.arrow-icon {
    transition: all 0.2s;
}

input[type=range]::-webkit-slider-runnable-track {
    border: solid 1px #d3d3d3;
    border-radius: 5px;
}

input[type=range]#slider-green::-webkit-slider-runnable-track {
    background: #38ff28;
}

input[type=range]#slider-red::-webkit-slider-runnable-track {
    background: #ff0b0b;
}

.chart-header {
    text-align: center;
}
