body {
    font-family: sans-serif;
}

.charts {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.chart-block {
    display: flex;
}

.chart {
    flex: 1;
    height: 200px;
    margin-bottom: 10px;
}

.arrow {
    flex-shrink: 0;
    background-color: aquamarine;
    width: 160px;
    height: 160px;
    padding: 20px;
    transition: all 1s;

}

.percent {
    width: 200px;
    height: 200px;
    position: relative;
}

.percent .sign {
    font-size: 200px;
    opacity: 0.05;
    position: absolute;
    line-height: 200px;
}

.percent .value {
    text-align: center;
    font-size: 150px;
    line-height: 200px;
}

.arrow-icon {
    transition: all 0.2s;
}